firebase-admin==6.5.0
Flask==3.1.0
Flask-Cors==5.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
googletrans==4.0.0rc1
grpc-google-iam-v1==0.13.1
oauthlib==3.2.2
requests==2.32.3
requests-oauthlib==2.0.0
python-dotenv==1.0.1
dateparser==1.2.0